# PostgreSQL Dashboard config file
{

# Connection
'host' 		=> 'POSTGRES_PORT_5432_TCP_ADDR',
'port' 		=> '5432',
'options' 	=> '',  # Backend options 
'tty'  		=> '',     # Obsolete
'dbname' 	=> 'postgres',
'user'   	=> 'postgres',
'password'	=> 'plop',

# Scheduler
'freq' 		=> '60s',

# Twitter
# Get your twitter keys & secrets:
# https://dev.twitter.com/docs/auth/tokens-devtwittercom
'tw_consumer_key' 	 => 'YOUR_CONSUMER_KEY',
'tw_consumer_secret' 	 => 'YOUR_CONSUMER_SECRET',
'tw_config.access_token' => 'YOUR_OAUTH_TOKEN',
'tw_access_token_secret' => 'YOUR_OAUTH_SECRET'

}
